/* Establece el estilo del fondo de la página principal */
body {
  background-color: rgb(113, 113, 114);
}

/* Estilos para el encabezado */
header {
  text-align: center; /* Centra el contenido horizontalmente */
  padding: 5px; /* Agrega espacio interno alrededor del encabezado */
  background-color: rgb(113, 176, 235); /* Establece el color de fondo del encabezado */
  color: rgb(255, 255, 255); /* Establece el color del texto en el encabezado */
}

/* Estilos para el pie de página */
footer {
  text-align: center; /* Centra el contenido horizontalmente */
  padding: 10px; /* Agrega espacio interno alrededor del pie de página */
  background-color: rgb(113, 176, 235); /* Establece el color de fondo del pie de página */
  color: white; /* Establece el color del texto en el pie de página */
}

/* Establece el estilo para todas las secciones de la página */
section {
  margin: 20px; /* Agrega márgenes alrededor de las secciones */
}

/* Estilos para el contenedor de datos personales */
.contenedor-datos-personales {
  max-width: 800px; /* Limita el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
  padding: 20px; /* Agrega espacio interno alrededor del contenedor */
  background-color: #f9f9f9; /* Establece el color de fondo del contenedor */
  border-radius: 5px; /* Aplica bordes redondeados al contenedor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agrega una sombra al contenedor */
}

/* Estilos para la imagen principal */
.imagen-principal {
  width: 100px; /* Define el ancho de la imagen */
  border-radius: 40%; /* Aplica bordes redondeados a la imagen */
  margin: 10px auto; /* Centra la imagen horizontalmente y agrega márgenes */
  display: flex; /* Configura la visualización de la imagen como un elemento flex */
}

/* Estilos para los títulos de sección */
.titulo-seccion {
  text-align: center; /* Centra el texto horizontalmente */
  font-size: 24px; /* Define el tamaño de fuente del título */
  margin: 20px 0; /* Agrega márgenes alrededor del título */
}

/* Estilos para los elementos de datos dentro de una sección */
.dato {
  display: flex; /* Configura los elementos como elementos flex */
  align-items: center; /* Alinea verticalmente los elementos de datos */
  margin: 10px 0; /* Agrega márgenes alrededor de los elementos de datos */
}

/* Estilos para las etiquetas de datos dentro de una sección */
.dato span {
  flex-basis: 200px; /* Define el ancho base de las etiquetas de datos */
  font-weight: bold; /* Define el grosor de la fuente como negrita */
}

/* Estilos para los enlaces dentro de una sección */
.dato a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: #333; /* Define el color del texto de los enlaces */
  margin-left: 10px; /* Agrega un margen izquierdo a los enlaces */
}

/* Estilos para los contenedores de secciones */
.contenedor-secciones {
  display: flex; /* Configura los contenedores como elementos flex */
  justify-content: space-between; /* Justifica el contenido entre los contenedores */
  margin-top: 10px; /* Agrega margen en la parte superior de los contenedores */
  background-color: white; /* Establece el color de fondo de los contenedores */
}

/* Estilos para secciones específicas con identificadores */
#experiencia-laboral, #capacitaciones {
  flex-basis: 48%; /* Define el ancho base de estas secciones */
}

/* Estilos para listas desordenadas */
ul {
  margin: 0; /* Elimina márgenes predeterminados de las listas */
  padding: 0; /* Elimina relleno predeterminado de las listas */
  list-style-type: none; /* Elimina el estilo de viñetas de las listas */
}

/* Estilos para elementos de lista */
li {
  margin-bottom: 5px; /* Agrega margen inferior a los elementos de la lista */
}

/* Estilos para elementos de lista con una flecha antes */
li::before {
  content: "→ "; /* Agrega una flecha antes de cada elemento de lista */
}

/* Estilos para una tabla */
.tabla {
  margin: 0 auto; /* Centra la tabla horizontalmente en la página */
  display: flex; /* Configura la visualización de la tabla como un elemento flex */
  flex-direction: column; /* Configura la dirección de los elementos flex dentro de la tabla */
  border-collapse: collapse; /* Controla el colapso de los bordes de la tabla */
  width: 70%; /* Define el ancho de la tabla */
  padding: 20px; /* Agrega relleno a la tabla */
}

/* Estilos para filas de la tabla */
.fila {
  display: flex; /* Configura las filas como elementos flex */
  flex-direction: row; /* Configura la dirección de los elementos flex dentro de las filas */
  border-bottom: 1px solid #ccc; /* Agrega un borde inferior a las filas */
  padding: 10px; /* Agrega relleno a las filas */
  background-color: white; /* Establece el color de fondo de las filas */
}

/* Estilos para filas de encabezado de tabla */
.encabezado {
  font-weight: bold; /* Define el grosor de la fuente para las filas de encabezado */
  background-color: #eee; /* Establece el color de fondo de las filas de encabezado */
}

/* Estilos para columnas de tabla */
.columna {
  flex: 1; /* Configura el tamaño flexible de las columnas */
  text-align: center; /* Centra el contenido de las columnas horizontalmente */
}

/* Estilos para elementos con la clase .card-project cuando se pasa el cursor sobre ellos */
.card-project:hover {
  border: 3px solid #050505; /* Agrega un borde y cambia el color al pasar el cursor */
  cursor: pointer; /* Cambia el cursor a una mano para indicar interactividad */
}